<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Party Planner Initial Commit</h1>

    <form method="POST" action="/send"  id="form">
      <label for="name1">1:</label><br>
      <input type="number" id="name1" name="name1"><br>
      <label for="name2">2:</label><br>
      <input type="number" id="name2" name="name2"><br>
      <label for="name3">2:</label><br>
      <input type="number" id="name3" name="name3"><br>
          <input type="submit"  id="form">
    </form>



  </body>
</html>
